<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>django-feature-flipper example</title>
</head>
<body>

<p>
{% if user.is_authenticated %}
  <strong>{{ user }}</strong> <a href="/admin/logout/">Logout</a>
{% else %}
  <a href="/admin/">Login</a>
{% endif %}
</p>

<h1>django-feature-flipper example</h1>

<h2>Permissions</h2>

{% if perms.featureflipper.can_flip_with_url %}
    <p>You have permission to flip features using URL parameters (see below).</p>
{% else %}
    <p>You don't have permission to flip features using URL parameters.</p>
{% endif %}

<h2>Using the 'features' context variable</h2>

<p>
{% if features.profile %}
  Profile is enabled
{% else %}
  Profile is disabled
{% endif %}
<br/>
Search is {% if features.search %}enabled{% else %}disabled{% endif %}
<br/>
Unknown is {{ features.unknown|yesno:"enabled,disabled" }}
</p>

<h2>Using the 'feature' tag</h2>

{% load feature_tag %}

<p>
{% feature profile %}Profile is enabled{% disabled %}Profile is disabled{% endfeature %}<br/>
{% feature search %}Search is enabled{% disabled %}Search is disabled{% endfeature %}<br/>
{% feature unknown %}Unknown is enabled{% disabled %}Unknown is disabled{% endfeature %}
</p>

<h2>Feature.objects.all</h2>

{% for feature in feature_list %}
  <p><a href="/admin/featureflipper/feature/{{ feature.id }}/">{{ feature }}</a>: {{ feature.description }}</p>
{% endfor %}

<h2>request.features_panel</h2>

<p>All known features, their final status, and the source of that final status.</p>

<table border="1">
  <tr><th>Feature</th><th>Enabled</th><th>Source</th></tr>
  {% for name, details in features_panel.features.items %}
    <tr><td>{{ name }}</td><td>{{ details.enabled|yesno }}</td><td>{{ details.source }}</td></tr>
  {% endfor %}
</table>

<h2>Using GET parameters to flip features</h2>

<ul>
<li><a href=".">No GET parameters</a></li>
<li><a href="./?enable_search">/?enable_search</a></li>
<li><a href="./?enable_profile">/?enable_profile</a></li>
<li><a href="./?enable_unknown">/?enable_unknown</a></li>
<li><a href="./?session_enable_search">/?session_enable_search</a></li>
<li><a href="./?session_enable_profile">/?session_enable_profile</a></li>
<li><a href="./?session_enable_unknown">/?session_enable_unknown</a></li>
<li><a href="./?session_clear_features">/?session_clear_features</a></li>
</ul>

</body>
</html>
