<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>django-feature-flipper example</title>
</head>
<body>

<p>
{% if user.is_authenticated %}
  <a href="/admin/logout/">Logout</a>
{% else %}
  <a href="/admin/">Login</a>
{% endif %}
</p>

<h1>django-feature-flipper example</h1>

<h2>Permissions</h2>

{% if perms.featureflipper.can_flip_with_url %}
    <p>You have permission to flip features using URL parameters (see below).</p>
{% else %}
    <p>You don't have permission to flip features using URL parameters.</p>
{% endif %}

<h2>Using the 'features' context variable</h2>

{% if features.profile %}
  <p>Profile is enabled</p>
{% else %}
  <p>Profile is disabled</p>
{% endif %}

{% if features.search %}
  <p>Search is enabled</p>
{% else %}
  <p>Search is disabled</p>
{% endif %}

{% if features.unknown %}
  <p>Unknown is enabled</p>
{% else %}
  <p>Unknown is disabled</p>
{% endif %}

<h2>Using the 'feature' tag</h2>

{% load feature_tag %}

{% feature profile %}
  <p>Profile is enabled</p>
{% disabled %}
  <p>Profile is disabled</p>
{% endfeature %}

{% feature search %}
  <p>Search is enabled</p>
{% disabled %}
  <p>Search is disabled</p>
{% endfeature %}

{% feature unknown %}
  <p>Unknown is enabled</p>
{% disabled %}
  <p>Unknown is disabled</p>
{% endfeature %}

<h2>Using request.features in views.py</h2>

<p>{{ message }}</p>

<h2>Using GET parameters to flip features</h2>

<ul>
<li><a href=".">No GET parameters</a></li>
<li><a href="./?enable_search">/?enable_search</a></li>
<li><a href="./?session_enable_search">/?session_enable_search</a></li>
<li><a href="./?session_clear_features">/?session_clear_features</a></li>
<li><a href="./?enable_unknown">/?enable_unknown</a></li>
<li><a href="./?session_enable_unknown">/?session_enable_unknown</a></li>
</ul>

</body>
</html>
